{% extends 'baseAdmin.html.twig' %}
{% block title %}Salarié{% endblock %}

{% block body %}
    <h1>Salariés</h1>
    

    <table  class="table">
        <thead>
            <tr>
                <th>Identité</th>
                <th>Login Cas</th>
                <th>Adresse</th>
                <th>Distance de base</th>
               
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salarie in salaries %}
            
            <tr>

                <td>{{ salarie.nom }}&nbsp;{{ salarie.prenom }}</td>
                <td>{{ salarie.casUsername }}</td>
                <td>{{ salarie.adresse }} - {{ salarie.idVille }}</td>
                <td>{{ salarie.distance }} km</td>
                
 
                <td>{% if salarie.created %}{{ salarie.created|date('Y-m-d H:i:s') }}{% endif %}</td>

                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('salarie_show', { 'id': salarie.id }) }}">Détail</a>
                        </li>
                        <li>
                            <a href="{{ path('salarie_edit', { 'id': salarie.id }) }}">Edition</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salarie_new') }}">Nouveau salarié</a>
        </li>
    </ul>
{% endblock %}
