{% extends 'baseGestion.html.twig' %}

{% block title %}Validation des Trajets{% endblock %}

{% block body %}
    <h1>Validation des trajets</h1>

        <table class="table">
        <thead>
            <tr>
                <th>Annee</th>
                <th>Mois</th>                
                <th>Salarié</th>
                <th>Trajet</th>
                <th>Nb km</th>
                <th>Indemnisation</th>
                
                <th>Cloturé</th>
                <th>Validé</th>
                
            </tr>
        </thead>
        <tbody>
        {% for parcour in parcours %}
            <tr>                
                <td>{{ parcour.annee }}</td>
                <td>{{ parcour.idMois.mois }}</td>
                <td>{{ parcour.idSalarie.casUsername }}</td>
                <td>{{ parcour.descriptTrajet }}</td>
               
                <td>{{ parcour.nbKmEffectue }}&nbsp;km</td>
                <td>{{ parcour.indemnisation }}&nbsp;€</td>
               
                <td>{% if parcour.cloture %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <a href="{{ path('gestion_validation_Trajet', { 'id': parcour.id }) }}" class="js-click"> 
                            {% if parcour.validation == 'Oui' %}
                                <i class="fas fa-check-square"></i>
                            {% else %}
                                <i class="far fa-check-square"></i>
                            {% endif %}                        
                    </a>
                </td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
