{% extends 'baseAdmin.html.twig' %}
{% block title %}Entreprise{% endblock %}

{% block body %}
    <h1>Entreprises list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Entreprise</th>
                <th>Adresse</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td><a href="{{ path('entreprise_show', { 'id': entreprise.id }) }}">{{ entreprise.id }}</a></td>
                <td>{{ entreprise.entreprise }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{% if entreprise.created %}{{ entreprise.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entreprise.updated %}{{ entreprise.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('entreprise_show', { 'id': entreprise.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('entreprise_edit', { 'id': entreprise.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entreprise_new') }}">Create a new entreprise</a>
        </li>
    </ul>
{% endblock %}
