
        <h2>Demandes {{title }} pour l'année {{an}}</h2>

    <table class="table">
        <thead>
            <tr>

                <th>Année</th>
                <th>Mois</th>
                <th>Nb km total</th>
                <th>Indemnisation</th>

                <th>Cloture</th>
                <th>Validation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parcour in parcours %}
            <tr>

                <td>{{ parcour.annee }}</td>
                <td>{{ parcour.idMois }}</td>
                <td>{{ parcour.nbKmEffectue }} km</td>
                <td>{{ parcour.indemnisation }} €</td>
                
                <td>{% if parcour.cloture %}Oui{% else %}Non{% endif %}</td>
                <td>{% if parcour.validation %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <a href="{{ path('isen_front_mensuel_detail', { 'id': parcour.id }) }}">Détails</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>





