    <h2>{{title}}</h2>

    

<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['janvier','février','mars','avril','mai','juin','juillet', 'aout','septembre','octobre','novembre','decembre'],
        datasets: [
            {
            label: '# km parcourus',
            data: [{{listKm}}],
            backgroundColor: 'green',
            },
            {
            label: '# indemnisation',
            data: [{{listIndem}}],
            backgroundColor: 'red',
            },
            {
            label: '# Moy km parcourus',
            data: [{{listMoyKm}}],
            backgroundColor: '#a0f7b4',
            },
            {
            label: '# Moy indemnisation',
            data: [{{listMoyIndem}}],
            backgroundColor: '#f79494',
            }
    ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
