    <h2>{{title}}</h2>

    <table class="table">
        <thead>
            <tr>
                
                <th>Annee</th>
                <th>Mois</th>
                
                <th>Nombre total Km</th>
                <th>Indemnisation totale</th>

            </tr>
        </thead>
        <tbody>
        {% for stat in tabStat %}
            <tr>

                <td>{{ stat.annee }}</td>
                <td>{{ stat.mois }}</td>
                <td>{{ stat.nbKmEffectue }}&nbsp;km</td>

                <td>{{ stat.totIndemnisation }}&nbsp;€</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
{{dump(listMois)}}
{% set foo = listMois|split(',') %}
{{dump(foo)}}

<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['février','avril','mai','juin','juillet', 'aout','septembre','octobre','novembre','decembre'],
        datasets: [
            {
            label: '# km parcourus',
            data: [{{listKm}}],
            backgroundColor: 'green',
            },
            {
            label: '# indemnisation',
            data: [{{listIndem}}],
            backgroundColor: 'red',
            }
    ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
